# Common
click
colorama
fastapi
python-multipart
google-cloud-storage
numpy
tensorflow
tensorflow-metal; sys_platform == 'darwin' and 'ARM' in platform_version # GPU acceleration for Mac M-chips
uvicorn
deepface
tf_keras

# Development
ipdb
ipykernel
matplotlib
mypy
pandas
pip-tools
ruff
scikit-learn
seaborn
types-colorama
types-tensorflow
